.title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  /* background-color: rgb(206, 205, 205); */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cards {
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}